body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

nav a {
    margin: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
